!!!
html
    head
        title KickPedal
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')    

    body
      div.container!= body
      footer